body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10%;
}
img {
    width: 100%;
    height: auto;
}
.title{
    margin-left: 20px;
    margin-right: 20px;
    color:#9830C1;
    font-size: 128pt;
}
button {
    background-color: black;
    border: none;
    color: azure;
    text-align: center;
    border-radius: 32px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: 200%;
    text-wrap: nowrap;
    width: 200px;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }