body{
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
img {
    max-width: 100%;
    height: auto;
}
.title{
    color:#9830C1;
    font-size: 128pt;
}
button {
    background-color: black;
    border: none;
    color: azure;
    text-align: center;
    border-radius: 12px;
    padding: 32px 32px;
    font-size: 24px;
}