body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10%;
}
form{        
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 0%;
}
img {
    width: 100%;
    height: auto;
}
.title{
    margin-left: 20px;
    margin-right: 20px;
    color:#9830C1;
    font-size: 128pt;
}
.header{
    font-family:'Righteous';
    margin-left: 0px;
    margin-right: 20px;
    color:#9830C1;
    font-size: 90pt;
}
h1 {
    position: absolute; 
    top: 0;            
    left: 0; 
    font-family:'Righteous';
    margin-left: 20px;
    margin-right: 20px;
    color:#9830C1;
    font-size: 35pt;
}

h2 {
    font-family: 'Righteous';
    color:#9830C1;
}

button {
    font-family:'Righteous';
    background-color: black;
    border: none;
    color: azure;
    text-align: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: 200%;
    text-wrap: nowrap;
    width: 200px;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  input[type="text"], input[type="password"] {
    font-family:'Righteous';
    width: 100%;             
    padding: 15px;            
    font-size: 16px;          
    margin-bottom: 20px;      
    border: 1px solid #9830C1;
    border-radius: 25px;      
    background-color: #f9f9f9; 
    outline: none;            
    transition: border-color 0.3s ease; 
}

.headerImg{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 15%;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.center h2{
    font-size: 30px;
    font-weight: 600;
    color: #9830C1;
    background:white;
    border: none;
    outline: none;
    border-radius: 5px;

}

.center button{
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    background:black;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}