body{
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
img {
    max-width: 100%;
    height: auto;
}
.title{
    color:#9830C1;
    font-size: 128pt;
}