* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    background: linear-gradient(to top, #9830C1, #000000);
    overflow-x: hidden;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-family:'Righteous';
}

/* Profile Picture Section */
.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.file-upload-wrapper {
    text-align: center;
    margin-top: 10px;
}

.file-upload-wrapper input[type="file"] {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9830C1;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* Styling form fields */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #000000;
    font-family:'Righteous';
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="jobTitle"],
textarea,
input[type="file"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family:'Righteous';
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.btn-submit {
    background-color: #9830C1;
    font-family:'Righteous';
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn-submit:hover {
    background-color: #341142;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row > div {
    width: 48%;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .row > div {
        width: 100%;
    }
}

button {
    font-family:'Righteous';
    background-color: black;
    border: none;
    color: azure;
    text-align: center;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: 200%;
    text-wrap: nowrap;
    width: 250px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 50px; 
}