body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10%;
    overflow-x: hidden;
    background: linear-gradient(to top, rgba(152,48,193,1) 0%, rgba(0,0,0,1) 100%);
    background-attachment: fixed;
}

.image-container {
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

img {
    width: 100vh;
    height: 50vh;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.text-box {
    position: absolute;
    bottom: 10px; /* Start position near the bottom */
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 60px;

    /* Multi-line and ellipsis styles */
    max-width: 100%; /* Limits text-box to 50% of the image width */
    max-height: 35%; /* Limits height of the text box to 35% of the container */
    overflow: hidden; /* Ensure the text doesn't overflow the text box */
    text-overflow: ellipsis; /* Adds the ellipsis when text overflows */
    display: -webkit-box; /* Required for the text truncation to work */
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical; /* Set the box orientation */
}

h1{
    font-family: 'Righteous';
    font-size: 100px;
    color: white;
}

button {
    font-family: 'Righteous';
    padding: 10px 50px;
    margin: 15px;
    font-size: 80px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9830C1;
}

.container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    overflow-x: hidden;
    background: white;
    border-radius: 15px;
}


#navbar{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 15%;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}